{% extends 'FitbitCoreBundle::layout.html.twig' %}
{% block body %}
    <div id="circles">
        {{ render(controller("FitbitFitappBundle:Circle:circle")) }}
    </div>
    <div id="graphs">
        {{ render(controller("FitbitFitappBundle:Graph:graph")) }}
    </div>
{% endblock %}