<div id="graph">
        <h3>Graph</h3>
        <button class="button button-lg" value="1y">1 year</button>
        <button class="button button-lg" value="3m">3 months</button>
        <button class="button button-lg" value="1m">1 month</button>
        <button class="button button-lg" value="1w">1 week</button>
    {% for key,value in dataList %}
        <p>
        <b>{{ key }}</b>
        </p>
        Total steps : <b>{{ value.steps }}</b><br/>
        Total floors : <b>{{ value.floors }}</b>
    {% endfor %}
</div>