<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fitbit</title>
</head>
<body>
<h1>First Layout</h1>
{% block body %}
{% endblock %}

{% block javascript %}

{% endblock %}

</body>
</html>